/* Public Styling */
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}


*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

.page {
    min-height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    cursor: pointer;
}
/* Public Styling */

:root {
    --dark-color: #252525;
    --orange-color: #db7c00;
    --purble-color: #3b141c;
}


/* Start Header */
header {
    background-color: var(--purble-color);
}

header nav {
    max-width: 1200px;
    margin: 0 auto;
}

header nav ul li a {
    padding: 5px 10px;
    border-radius: 18px;
    font-size: 18px;
    transition: 0.3s;
}

header nav ul li a:hover,
header nav ul li a.active {
    background-color: var(--orange-color);
    color: var(--purble-color);
}

nav #menu-close {
    position: absolute;
    background-color: transparent;
    color: white;
    right: 30px;
    top: 30px;
    display: none;
}

nav #menu-open {
    color: white;
    background-color: transparent;
    border: none;
    display: none;
    font-size: 18px;
}


/* End Header */

/* Start Page */

.hero {
    background-color: var(--purble-color);
    min-height: 100vh;
}

.hero .content {
    min-height: 100vh;
    justify-content: space-between;
    padding: 0 20px;
    padding-left: 40px;
}

.hero .text .title{
    font-size: 28px;
    color:var(--orange-color);
    font-family: "Miniver", sans-serif;
}

.hero .text h3 {
    font-size: 26px;
    margin-top: 8px;
    font-weight: bold;
    max-width: 70%;
    line-height: 1.4;
}

.hero .text p {
    margin: 24px 0 40px;
    max-width: 70%;
    line-height: 1.4;
    font-size: 20px;
}

.hero .content .button {
    padding: 10px 26px;
    background-color: var(--orange-color);
    border-radius: 22px;
    color: var(--purble-color);
    font-weight: bold;
    border: 2px solid transparent;
    transition: 0.3s;
}

.hero .content .button:hover {
    border-color: white;
    color: white;
    background-color: transparent;
}

.hero img {
    max-width: 400px;
    height: 100%;
    margin-right: 30px;
}

/* End Page */

@media screen and (max-width: 800px) {
    body.active header::before {
        content: "";
        position: "fixed";
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.2);
    }

    nav ul {
        background-color: var(--dark-color);
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        transition: left 0.3s;
    }

    nav ul li {
        color: white;
        margin-top: 17px;
        font-size: 1.5rem;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
        width: 100%;
        text-align: center;
    }

    nav #menu-close,
    nav #menu-open {
        display: block;
    }

    .hero .content {
        flex-direction: column-reverse;
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        justify-content: center;
    }

    .hero img {
        max-width: 270px;
        margin-right: 0;
    }

    
    .hero .text h3,
    .hero .text p {
        max-width: 100%;
    }

}

/* Media Query for Tablets and Mobile Devices */
@media screen and (max-width: 400px) {
    .hero img {
        max-width: 200px;
    }

    .hero .text .title {
        font-size: 24px;
    }

    .hero .text h3 {
        font-size: 22px;
    }

    .hero .text p {
        font-size: 18px;
    }
}